<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi PMKS</title>
    <link rel="icon" type="images/png" href="{{url_for('static', filename='img/karta.png')}}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <div id="output"></div>
    <!-- Load Babel -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <!-- Your custom script here -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body class="h-screen bg-gradient-to-b
  from-gray-900 to-blue-900">
    <!--Nav-->
    <nav class="p-3 border-gray-200 rounded bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
      <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href="/" class="flex items-center">
            <img src="{{url_for('static', filename='img/karta.png')}}" class="h-6 mr-3 sm:h-10" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Prediksi Kelayakan PMKS Kelurahan Manjahlega</span>
        </a>
        <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-solid-bg" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
          <ul class="flex flex-col mt-4 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
            <li>
              <a href="/" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
            </li>
            <li>
              <a href="/dataset" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Dataset</a>
            </li>
            <li>
              <a href="https://wa.me/6289646919765?text=Hello!" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="root"></div>
    <iframe
      id="ifmcontentstoprint"
      style="height: 0px; width: 0px; position: absolute"
    ></iframe>
    <script type="text/babel">
      const TOKEN_KEY = "access_token";
      const REFRESH_TOKEN_KEY = "refresh_token";

      const TokenService = {
        getToken() {
          return localStorage.getItem(TOKEN_KEY);
        },

        saveToken(accessToken) {
          localStorage.setItem(TOKEN_KEY, accessToken);
        },

        removeToken() {
          localStorage.removeItem(TOKEN_KEY);
        },

        getRefreshToken() {
          return localStorage.getItem(REFRESH_TOKEN_KEY);
        },

        saveRefreshToken(refreshToken) {
          localStorage.setItem(REFRESH_TOKEN_KEY, refreshToken);
        },

        removeRefreshToken() {
          localStorage.removeItem(REFRESH_TOKEN_KEY);
        },
      };

      const ApiService = {
        _401interceptor: null || 0,

        init(baseURL) {
          axios.defaults.baseURL = baseURL;
        },

        setHeader() {
          axios.defaults.headers.common[
            "Authorization"
          ] = `Bearer ${TokenService.getToken()}`;
        },

        removeHeader() {
          axios.defaults.headers.common = {};
        },

        customRequest(data) {
          return axios(data);
        },

        mount401Interceptor() {
          this._401interceptor = axios.interceptors.response.use(
            (response) => {
              return response;
            },
            async (error) => {
              if (
                error.request.status === 401 ||
                error.request.status === 422
              ) {
                if (error.config.url.includes("auth/login")) {
                  AuthService.Logout();
                  throw error;
                } else {
                  try {
                    AuthService.Logout();
                  } catch (e) {
                    AuthService.Logout();
                    throw error;
                  }
                }
              }
              throw error;
            }
          );
        },

        unmount401Interceptor() {
          axios.interceptors.response.eject(this._401interceptor);
        },
      };

      const AuthService = {
        Login: async (payload) => {
          const { username, password } = payload;
          const requestData = {
            method: "post",
            headers: {
              "Content-Type": "application/json; charset=utf-8",
            },
            data: {
              username,
              password,
            },
            url: "/login",
          };
          try {
            const res = await ApiService.customRequest(requestData);
            TokenService.saveToken(res.data.access_token);
            ApiService.setHeader();
            window.location.reload();
          } catch (error) {
            throw error;
          }
        },

        Logout: () => {
          ApiService.removeHeader();
          TokenService.removeToken();
          TokenService.removeRefreshToken();
          window.location.reload();
        },
      };

      const PredictionService = {
        GetPrediction: async () => {
          const requestData = {
            method: "get",
            headers: {
              "Content-Type": "application/json; charset=utf-8",
            },
            url: "/items",
          };
          try {
            const res = await ApiService.customRequest(requestData);
            ApiService.setHeader();
            return res.data;
          } catch (error) {
            console.log(error);
          }
        },

        GetPredictionById: async (prediction_id) => {
          const requestData = {
            method: "get",
            headers: {
              "Content-Type": "application/json; charset=utf-8",
            },
            url: `item/${prediction_id}`,
          };
          try {
            const res = await ApiService.customRequest(requestData);
            ApiService.setHeader();
            return res.data;
          } catch (error) {
            console.log(error);
          }
        },

        CreatePrediction: async (payload) => {
          const requestData = {
            method: "post",
            headers: {
              "Content-Type": "application/json"
            },
            data: payload,
            url: "create-predict",
          };
          try {
            const res = await ApiService.customRequest(requestData);
            ApiService.setHeader();
            return res.data;
          } catch (error) {
            console.log(error);
          }
        },

        Logout: () => {
          ApiService.removeHeader();
          TokenService.removeToken();
          TokenService.removeRefreshToken();
          window.location.reload();
        },
      };

      const Modal = ({
        isModalShow,
        setModalShow,
        setRepopulate,
        predictionDetailData,
        isEdit,
      }) => {
        const [predictionData, setPredictionData] = React.useState({
          nama: "",
          alamat: "",
          jenis_pmks: "",
          hubungan_dlm_keluarga: "",
          jml_tanggungan_kepala_keluarga: "",
          pendapatan_keluarga: "",
          status_rumah: "",
          pekerjaan: "",
          layak_tidak: "",
        });

        console.log(predictionDetailData);

        return (
          <>
            {isModalShow && (
              <div
                className="relative z-10 w-full p-8"
                aria-labelledby="modal-title"
                role="dialog"
                aria-modal="true"
              >
                <div className="fixed w-full inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
                <div className="fixed inset-0 w-full z-10 overflow-y-auto">
                  <div className="flex min-h-full items-end w-auto justify-center p-4 text-center sm:items-center sm:p-0">
                    <form
                      onSubmit={(e) => {
                        try {
                          e.preventDefault();
                          PredictionService.CreatePrediction(predictionData);
                          Swal.fire({
                            title: "Berhasil!",
                            text: "Do you want to continue",
                            icon: "success",
                            confirmButtonText: "OK",
                          });
                          setRepopulate((prev) => !prev);
                          setModalShow(false);
                          setPredictionData({});
                        } catch (error) {
                          console.log(error);
                        }
                      }}
                      className="transform w-[100vw] m-12 p-8 overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all "
                    >
                      <div className="bg-white w-full px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div className="sm:flex w-full sm:items-start">
                          <div className="mt-3 w-full text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3
                              className="text-lg font-medium leading-6 text-gray-900"
                              id="modal-title"
                            >
                              {isEdit
                                ? "View Data Klasifikasi"
                                : "Tambah Data Klasifikasi"}
                            </h3>
                            <div className="mt-8 w-full">
                              {isEdit && (
                                <div
                                  id="divcontents"
                                  className="flex flex-col gap-y-4"
                                >
                                  <h1 className="font-bold text-3xl">
                                    Berdasarkan data dibawah :
                                  </h1>
                                  <h1 className="text-2xl font-medium">
                                    Nama : {predictionDetailData.nama}
                                  </h1>
                                  <h1 className="text-2xl font-medium">
                                    Alamat : {predictionDetailData.alamat}
                                  </h1>
                                  <h1 className="text-2xl font-medium">
                                    Jenis PMKS : {predictionDetailData.jenis_pmks === 0 ? "Anak dalam Kedistabilitasan"
                                                : predictionDetailData.jenis_pmks === 1 ? "Bekas Warga Binaan Lembaga Pemasyarakatan"
                                                : predictionDetailData.jenis_pmks === 2 ? "Fakir Miskin"
                                                : predictionDetailData.jenis_pmks === 3 ? "Kelompok Minoritas"
                                                : predictionDetailData.jenis_pmks === 4 ? "Keluarga Bermasalah Sosial Psikologi"
                                                : predictionDetailData.jenis_pmks === 5 ? "Keluarga Berumah Tak Layak Huni"
                                                : predictionDetailData.jenis_pmks === 6 ? "Korban Penyalahgunaan Napza"
                                                : predictionDetailData.jenis_pmks === 7 ? "Lansia terlantar"
                                                : predictionDetailData.jenis_pmks === 8 ? "Pemulung"
                                                : predictionDetailData.jenis_pmks === 9 ? "Penyandang Disabilitas"
                                                : predictionDetailData.jenis_pmks === 10 ? "Perempuan Rawan Sosial Ekonomi"
                                                : "Tuna Susila"}
                                  </h1>
                                  <h1>
                                    hubungan_dlm_keluarga : {predictionDetailData.hubungan_dlm_keluarga === 0 ? "Anak"
                                                          : predictionDetailData.hubungan_dlm_keluarga === 1 ? "Ibu"
                                                          : "Kepala Keluarga"}
                                  </h1>
                                  <h1>
                                    jml_tanggungan_kepala_keluarga : {predictionDetailData.jml_tanggungan_kepala_keluarga}
                                  </h1>
                                  <h1>
                                    {" "}
                                    pendapatan_keluarga :{" "}
                                    {predictionDetailData.pendapatan_keluarga === 0 ? "Baik"
                                    : predictionDetailData.pendapatan_keluarga === 1 ? "Cukup"
                                    : predictionDetailData.pendapatan_keluarga === 2 ? "Kurang"
                                    : "Sangat Baik"}
                                  </h1>
                                  <h1>
                                    {" "}
                                    status_rumah :{" "}
                                    {predictionDetailData.status_rumah === 0 ? "Kontrakan"
                                    : "Milik Sendiri"}
                                  </h1>
                                  <h1>
                                    {" "}
                                    pekerjaan :{" "}
                                    {predictionDetailData.pekerjaan === 0 ? "ASN"
                                      : predictionDetailData.pekerjaan === 1 ? "Buruh"
                                      : predictionDetailData.pekerjaan === 2 ? "IRT"
                                      : predictionDetailData.pekerjaan === 3 ? "Karyawan Swasta"
                                      : predictionDetailData.pekerjaan === 4 ? "Pelajar"
                                      : predictionDetailData.pekerjaan === 5 ? "Pemulung"
                                      : predictionDetailData.pekerjaan === 6 ? "Pensiunan"
                                      : predictionDetailData.pekerjaan === 7 ? "Tidak Bekerja"
                                      : "Wiraswasta"}
                                  </h1>
                                  <h1 className="text-3xl font-bold uppercase">
                                    {" "}
                                    Maka hasil prediksi adalah :{" "}
                                    {predictionDetailData.layak_tidak}
                                  </h1>
                                </div>
                              )}

                              {!isEdit && (
                                <div className="w-full flex gap-x-6">
                                  <div className="flex flex-col gap-y-4 w-full">
                                    <div className="mb-6 w-full">
                                      <label
                                        htmlFor="nama"
                                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >
                                        Nama
                                      </label>
                                      <input
                                        onChange={(e) =>
                                          setPredictionData((prev) => ({
                                            ...prev,
                                            nama: e.target.value,
                                          }))
                                        }
                                        value={predictionData.nama}
                                        type="text"
                                        id="nama"
                                        className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Masukan Nama Anda"
                                        required
                                      />
                                    </div>
                                    <div className="mb-6 w-full">
                                      <label
                                        htmlFor="alamat"
                                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >
                                        Alamat
                                      </label>
                                      <input
                                        onChange={(e) =>
                                          setPredictionData((prev) => ({
                                            ...prev,
                                            alamat: e.target.value,
                                          }))
                                        }
                                        value={predictionData.alamat}
                                        type="text"
                                        id="alamat"
                                        className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Masukan Alamat Anda"
                                        required
                                      />
                                    </div>

                                    <div className="mb-6">
                                      <label
                                        htmlFor="jenis_pmks"
                                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >
                                        Jenis PMKS
                                      </label>
                                      <select
                                        onChange={(e) =>
                                          setPredictionData((prev) => ({
                                            ...prev,
                                            jenis_pmks: e.target.value,
                                          }))
                                        }
                                        value={predictionData.jenis_pmks}
                                        type="text"
                                        id="jenis_pmks"
                                        className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Masukan Jenis PMKS"
                                        required
                                      >
                                        <option value="">Masukkan Jenis PMKS</option>
                                        <option value="0">Anak Dalam Kedistabilitasan</option>
                                        <option value="1">Bekas Warga Binaan Lembaga Kemasyarakatan</option>
                                        <option value="2">Fakir Miskin</option>
                                        <option value="3">Kelompok Minoritas</option>
                                        <option value="4">Keluarga Bermasalah Sosial Psikologi</option>
                                        <option value="5">Keluarga Berumah Tak Layak Huni</option>
                                        <option value="6">Korban Penyalahgunaan Napza</option>
                                        <option value="7">Lansia Terlantar</option>
                                        <option value="8">Pemulung</option>
                                        <option value="9">Penyandang Disabilitas</option>
                                        <option value="10">Perempuan Rawan Sosial Ekonomi</option>
                                        <option value="11">Tuna Susila</option>
                                      </select>
                                    </div>

                                    <div className="mb-6">
                                      <label
                                        htmlFor="hubungan_dlm_keluarga"
                                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >
                                        Hubungan Dalam Keluarga
                                      </label>
                                      <select
                                        onChange={(e) =>
                                          setPredictionData((prev) => ({
                                            ...prev,
                                            hubungan_dlm_keluarga: e.target.value,
                                          }))
                                        }
                                        value={predictionData.hubungan_dlm_keluarga}
                                        type="text"
                                        id="hubungan_dlm_keluarga"
                                        className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Masukan Hubungan Dalam Keluarga"
                                        required
                                        >
                                        <option value="">Masukkan Hubungan dalam Keluarga</option>
                                        <option value="0">Anak</option>
                                        <option value="1">Ibu</option>
                                        <option value="2">Kepala Keluarga</option>
                                      </select>
                                    </div>
                                  </div>

                                  <div className="flex flex-col gap-y-4 w-full">
                                    <div className="mb-6">
                                      <label
                                        htmlFor="jml_tanggungan_kepala_keluarga"
                                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >
                                        Jumlah Tanggungan Kepala Keluarga
                                      </label>
                                      <input
                                        onChange={(e) =>
                                          setPredictionData((prev) => ({
                                            ...prev,
                                            jml_tanggungan_kepala_keluarga: e.target.value,
                                          }))
                                        }
                                        value={predictionData.jml_tanggungan_kepala_keluarga}
                                        type="number"
                                        id="jml_tanggungan_kepala_keluarga"
                                        className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Masukan Jumlah Tanggungan Kepala Keluarga"
                                        required
                                      />
                                    </div>

                                    <div className="mb-6">
                                      <label
                                        htmlFor="pendapatan_keluarga"
                                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >
                                        Pendapatan Keluarga
                                      </label>
                                      <select
                                        onChange={(e) =>
                                          setPredictionData((prev) => ({
                                            ...prev,
                                            pendapatan_keluarga: e.target.value,
                                          }))
                                        }
                                        value={predictionData.pendapatan_keluarga}
                                        type="text"
                                        id="pendapatan_keluarga"
                                        className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Masukan Pendapatan Keluarga"
                                        required
                                        >
                                        <option value="">Masukkan Pendapatan Keluarga</option>
                                        <option value="2">Kurang dari Rp. 1.000.000</option>
                                        <option value="1">Cukup (Rp. 1.000.000 - Rp. 2.000.000)</option>
                                        <option value="0">Baik (Rp. 2.000.000 - Rp. 3.000.000)</option>
                                        <option value="3">Sangat Baik (Lebih dari Rp. 3.000.000)</option>
                                      </select>
                                    </div>

                                    <div className="mb-6">
                                      <label
                                        htmlFor="status_rumah"
                                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >
                                        Status Rumah
                                      </label>
                                      <select
                                        onChange={(e) =>
                                          setPredictionData((prev) => ({
                                            ...prev,
                                            status_rumah: e.target.value,
                                          }))
                                        }
                                        value={predictionData.status_rumah}
                                        type="text"
                                        id="status_rumah"
                                        className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Status Rumah Anda"
                                        required
                                        >
                                        <option value="">Masukkan Status Rumah Anda</option>
                                        <option value="0">Kontrakan</option>
                                        <option value="1">Milik Sendiri</option>
                                      </select>
                                    </div>
                                    <div className="mb-6">
                                      <label
                                        htmlFor="pekerjaan"
                                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                      >
                                        Pekerjaan
                                      </label>
                                      <select
                                        onChange={(e) =>
                                          setPredictionData((prev) => ({
                                            ...prev,
                                            pekerjaan: e.target.value,
                                          }))
                                        }
                                        value={predictionData.pekerjaan}
                                        type="text"
                                        id="pekerjaan"
                                        className="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Masukan Pekerjaan Anda"
                                        required
                                        >
                                        <option value="">Masukkan Pekerjaan Anda</option>
                                        <option value="0">ASN</option>
                                        <option value="1">Buruh</option>
                                        <option value="2">IRT</option>
                                        <option value="3">Karyawan Swasta</option>
                                        <option value="4">Pelajar</option>
                                        <option value="5">Pemulung</option>
                                        <option value="6">Pensiunan</option>
                                        <option value="7">Tidak Bekerja</option>
                                        <option value="8">Wiraswasta</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              )}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div className="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        {isEdit ? (
                          <button
                            onClick={() => {
                              const content =
                                document.getElementById("divcontents");
                              const pri =
                                document.getElementById(
                                  "ifmcontentstoprint"
                                ).contentWindow;
                              pri.document.open();
                              pri.document.write(content.innerHTML);
                              pri.document.close();
                              pri.focus();
                              pri.print();
                            }}
                            type="button"
                            className="inline-flex w-full justify-center rounded-md border border-transparent bg-green-400 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                          >
                            {isEdit ? "Print Data" : "Tambah Prediksi Data"}
                          </button>
                        ) : (
                          <button
                            type="submit"
                            className="inline-flex w-full justify-center rounded-md border border-transparent bg-green-400 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                          >
                            {isEdit ? "Print Data" : "Tambah Prediksi Data"}
                          </button>
                        )}

                        <button
                          onClick={() => setModalShow(!isModalShow)}
                          type="button"
                          className="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                        >
                          Batal
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            )}
          </>
        );
      };

      const Table = () => {
        const [getData, setData] = React.useState([]);
        const [getModal, setModal] = React.useState(false);
        const [isEdit, setIsEdit] = React.useState(false);
        const [repopulateData, setRepopulate] = React.useState(false);
        const [predictionDetailData, setPredictionDetailData] = React.useState({
          nama: "",
          alamat: "",
          jenis_pmks: "",
          hubungan_dlm_keluarga: "",
          jml_tanggungan_kepala_keluarga: "",
          pendapatan_keluarga: "",
          status_rumah: "",
          pekerjaan: "",
          layak_tidak: "",
        });
        

        const fetchData = async () => {
          const res = await PredictionService.GetPrediction();
          await PredictionService.GetPredictionById(1);
          setData(await res);
        };

        const fetchDetailData = async (id) => {
          const res = await PredictionService.GetPredictionById(id);
          setPredictionDetailData(await res);
        };

        React.useEffect(() => {
          fetchData();
        }, [repopulateData]);

        return (
          <>
            <div className="flex gap-x-4 py-4">
              <button
                onClick={() => {
                  setModal(!getModal);
                  setIsEdit(false);
                }}
                className="bg-blue-400 text-white rounded-lg w-[200px] h-auto p-2"
              >
                Tambah Data +
              </button>
              <button
                onClick={() => {
                  try {
                    fetchData();
                    Swal.fire({
                      title: "Berhasil!",
                      text: "Berhasil Refresh Data!",
                      icon: "success",
                      confirmButtonText: "Ok",
                    });
                  } catch (error) {
                    Swal.fire({
                      title: "Gagal!",
                      text: "Gagal Fetch Data! karena " + error,
                      icon: "error",
                      confirmButtonText: "Ok",
                    });
                  }
                }}
                className="bg-green-400 p-2 w-[200px] text-white rounded-lg"
              >
                Refresh
              </button>
              <button
                onClick={() => {
                  try {
                    Swal.fire({
                      title: "Anda yakin akan logout?",
                      text: "Akan Logout",
                      icon: "warning",
                      showCancelButton: true,
                      confirmButtonColor: "#3085d6",
                      cancelButtonColor: "#d33",
                      confirmButtonText: "Ya, Logout sekarang",
                    }).then((result) => {
                      if (result.isConfirmed) {
                        AuthService.Logout();
                        Swal.fire(
                          "Berhasil Logout!",
                          "Kamu udah logout",
                          "success"
                        );
                      }
                    });
                  } catch (error) {
                    Swal.fire({
                      title: "Gagal Logout!",
                      text: "Gagal Logout! Karena Tidak Ada Koneksi Internet" + error,
                      icon: "error",
                      confirmButtonText: "Ok",
                    });
                  }
                }}
                className="bg-yellow-500 p-2 w-[200px] text-white rounded-lg"
                >
                Keluar
              </button>
            </div>
            <Modal
              predictionDetailData={predictionDetailData}
              isEdit={isEdit}
              setRepopulate={setRepopulate}
              setModalShow={setModal}
              isModalShow={getModal}
            />
            <table className="w-full relative text-sm text-left text-gray-500 dark:text-gray-400 overflow-visible">
              <thead className="text-xs w-full text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th className="px-6 py-3 w-full overflow-x-visible">
                    Nama
                    </th>
                    <th className="px-6 py-3 w-full overflow-x-visible">
                      Alamat
                      </th>
                      <th className="px-6 py-3 w-full overflow-x-visible">
                        Jenis PMKS
                  </th>
                  <th className="px-6 py-3 w-full overflow-x-visible">
                    Hubungan Dalam Keluarga
                  </th>
                  <th className="px-6 py-3 w-full overflow-x-visible">
                    Jumlah Tanggungan Kepala Keluarga
                  </th>
                  <th className="px-6 py-3 w-full overflow-x-visible">
                    Pendapatan Keluarga
                    </th>
                  <th className="px-6 py-3 w-full overflow-x-visible">
                    Status Rumah
                  </th>
                  <th className="px-6 py-3 w-full overflow-x-visible">
                    Pekerjaan
                  </th>
                  <th className="px-6 py-3 w-full overflow-x-visible">
                    Kelayakan
                  </th>
                  <th className="px-6 py-3 w-full overflow-x-visible">Aksi</th>
                </tr>
              </thead>

              <tbody>
                {getData.length === 0 ? (
                  <tr></tr>
                  ): ( <>
                  {getData.map((x, i) => (
                    <tr
                    key={i}
                    className="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                  >
                    <th
                      scope="row"
                      className="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                      {x.nama}
                    </th>
                    <td className="px-6 py-4">
                      {x.alamat}
                    </td>
                    <td className="px-6 py-4">
                      {x.jenis_pmks === 0 ? "Anak dalam Kedistabilitasan"
                        : x.jenis_pmks === 1 ? "Bekas Warga Binaan Lembaga Pemasyarakatan"
                        : x.jenis_pmks === 2 ? "Fakir Miskin"
                        : x.jenis_pmks === 3 ? "Kelompok Minoritas"
                        : x.jenis_pmks === 4 ? "Keluarga Bermasalah Sosial Psikologi"
                        : x.jenis_pmks === 5 ? "Keluarga Berumah Tak Layak Huni"
                        : x.jenis_pmks === 6 ? "Korban Penyalahgunaan Napza"
                        : x.jenis_pmks === 7 ? "Lansia terlantar"
                        : x.jenis_pmks === 8 ? "Pemulung"
                        : x.jenis_pmks === 9 ? "Penyandang Disabilitas"
                        : x.jenis_pmks === 10 ? "Perempuan Rawan Sosial Ekonomi"
                        : "Tuna Susila"}
                        </td>
                        <td className="px-6 py-4">
                          {x.hubungan_dlm_keluarga === 0 ? "Anak"
                          : x.hubungan_dlm_keluarga === 1 ? "Ibu"
                          : "Kepala Keluarga"}
                          </td>
                          <td className="px-6 py-4">
                            {x.jml_tanggungan_kepala_keluarga}
                            </td>
                            <td className="px-6 py-4">
                              {x.pendapatan_keluarga === 0 ? "Baik"
                              : x.pendapatan_keluarga === 1 ? "Cukup"
                              : x.pendapatan_keluarga === 2 ? "Kurang"
                              : "Sangat Baik"}
                              </td>
                    <td className="px-6 py-4">
                      {x.status_rumah === 0 ? "Kontrakan"
                        : "Milik Sendiri"}
                    </td>
                    <td className="px-6 py-4">
                      {x.pekerjaan === 0 ? "ASN"
                        : x.pekerjaan === 1 ? "Buruh"
                        : x.pekerjaan === 2 ? "IRT"
                        : x.pekerjaan === 3 ? "Karyawan Swasta"
                        : x.pekerjaan === 4 ? "Pelajar"
                        : x.pekerjaan === 5 ? "Pemulung"
                        : x.pekerjaan === 6 ? "Pensiunan"
                        : x.pekerjaan === 7 ? "Tidak Bekerja"
                        : "Wiraswasta"}
                    </td>
                    <td className="px-6 py-4">
                      {x.layak_tidak}
                    </td>
                    <td className="px-6 py-4 gap-x-4">
                      <span
                        onClick={() => {
                          setModal(!getModal);
                          setIsEdit(true);
                          fetchDetailData(x.id);
                        }}
                        className="text-yellow-500 font-medium text-1xl"
                        >
                        View
                      </span>{" "}
                    </td>
                  </tr>
                ))}
                </>)}
              </tbody>
            </table>
            {getData.length === 0 && (
              <h1 className="text-black-900 font-bold text-3xl">Data Kosong</h1>
            )}
          </>
        );
      };
      
//Login Section
      const Login = ({ setAuth }) => {
        const [loginData, setLoginData] = React.useState({
          username: "",
          password: "",
        });
        const [errorMsg, setErrorMsg] = React.useState("");
        return (
          <section className="bg-gray-50 dark:bg-gray-900">
            <div className="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
              <div className="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div className="p-6 space-y-4 md:space-y-6 sm:p-8">
                  <h1 className="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Masuk Untuk Mulai Prediksi
                  </h1>
                  <span className="text-red-500">{errorMsg}</span>
                  <form
                    onSubmit={async (e) => {
                      e.preventDefault();
                      try {
                        await AuthService.Login(loginData);
                        setAuth(!!TokenService.getToken());
                      } catch (error) {
                        setErrorMsg(error?.response?.data?.msg);
                        console.log(error);
                      }
                    }}
                    className="space-y-4 md:space-y-6"
                    action="#"
                  >
                    <div>
                      <label
                        htmlFor="email"
                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >
                        Username
                      </label>
                      <input
                        onChange={(e) =>
                          setLoginData((prev) => ({
                            ...prev,
                            username: e.target.value,
                          }))
                        }
                        value={loginData.username}
                        type="text"
                        name="username"
                        id="username"
                        className="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="name@company.com"
                        required
                      />
                    </div>
                    <div>
                      <label
                        htmlFor="password"
                        className="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >
                        Password
                      </label>
                      <input
                        onChange={(e) =>
                          setLoginData((prev) => ({
                            ...prev,
                            password: e.target.value,
                          }))
                        }
                        value={loginData.password}
                        type="password"
                        name="password"
                        id="password"
                        placeholder="••••••••"
                        className="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required
                      />
                    </div>
                    <button
                      type="submit"
                      className="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    >
                      Masuk
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </section>
        );
      };

      const Home = () => {
        return (
          <>
            {!!TokenService.getToken() ? (
              
              <div className="flex relative gap-y-4 w-full p-8 flex-col">
                <h1 className="text-3xl font-bold text-gray-100">
                  Data Prediksi PMKS
                </h1>
                <Table />
              </div>
            ) : (
              <Login />
            )}
          </>
        );
      };

      ApiService.init("http://localhost:5000");

      if (!!TokenService.getToken()) {
        ApiService.setHeader();
        ApiService.mount401Interceptor();
      } else {
        ApiService.removeHeader();
        ApiService.unmount401Interceptor();
      }

      const root = ReactDOM.createRoot(document.getElementById("root"));
      const element = <Home />;
      root.render(element);
    </script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  </body>
</html>
